.idea/
.git
/botanik/node_modules
/botanik/public/hot
/botanik/public/css/app.css
/botanik/public/js/app.js
/botanik/public/storage
/botanik/storage/*.key
/botanik/vendor
/botanik/.env
/botanik/.env.backup
/botanik/.phpunit.result.cache
/botanik/docker-compose.override.yml
/botanik/Homestead.json
/botanik/Homestead.yaml
/botanik/npm-debug.log
/botanik/yarn-error.log
/botanik/_ide_helper.php
/botanik/composer.lock
base
data/dev