.idea/
.git
/app/vendor
/app/node_modules
/app/public/hot
/app/public/css/app.css
/app/public/js/app.js
/app/public/storage
/app/public/adm.php
/app/storage/*.key
/app/vendor
/app/.env
/app/.env.backup
/app/.phpunit.result.cache
/app/docker-compose.override.yml
/app/Homestead.json
/app/Homestead.yaml
/app/npm-debug.log
/app/yarn-error.log
/app/_ide_helper.php
/app/composer.lock
base
data/dev