.modal-dialog {
    min-width: 354px;
}
.timetable {
    grid-template-columns: repeat(8, 1fr);
    color: #4F4F4F;
    margin: 0 23px;
    border-radius: 5px;
}
.timetable>div {
    height: 24px;
}
.checkbox {
    cursor: pointer;
}
.timetable>.checked {
    border: none;
}
.time {
    font-size: 8px;
    line-height: 10px;
}
.day {
    font-size: 10px;
    line-height: 12px;
    height: 22px;
}
#select-all {
    margin-bottom: 15px;
}
